html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: $font-m;
  font-family: "Overpass", sans-serif;
  font-weight: $font-weight-s;
  color: $light-grey;
  line-height: 1.5;

  h1 {
    font-size: $font-h1;
    font-weight: $font-weight-m;
    color: $white;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    color: black;

    a {
      color: $orange;
    }
  }
}