// Colors
// Primary
$orange: hsl(25, 97%, 53%);

// Neutral
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$darker-blue: #1F2630;
$very-dark-blue: hsl(216, 12%, 8%);


// Font Sizes
$font-h1: 1.5rem; // 24px
$font-m: 0.9375rem; // 15px
$font-s: 0.75rem; // 12px

// Font Weights
$font-weight-m: 700;
$font-weight-s: 400;
